<%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="/CSS/show-style.css">
    <title>Sandbox</title>
    </head>

    <body>
        <%- include('./partials/navbar.ejs') %>
            <main>
                <h1>
                    <%= resource.name %>
                </h1>
                <div class="content">
                    <div class="half left">
                        <img class='re-img' src="<%= resource.img %> " alt="game image of <%= resource.name %> ">
                    </div>
                    <div class="half right">
                        <p><strong>Description: </strong>
                            <%= resource.description %>
                        </p>
                    </div>
                </div>
                <div class="buttons">
                    <a href="<%= resource.url %> " target="_blank"><button id='go-btn'>Go to Resource!</button></a>
                    <a href="/resource/<%=resource.id%>/edit"><button id='edit-btn'>Edit</button></a>
                    <form method="POST" action="/resource/<%= resource.id %>?_method=DELETE">
                        <button id='delete-btn'>Delete</button>
                    </form>

                </div>

            </main>

            <%- include('./partials/footer.ejs') %>
    </body>

    </html>