<%- include('../partials/header.ejs') %>
    <link rel="stylesheet" href="/CSS/form-style.css">
    <title>Sandbox</title>
    </head>

    <body>
        <%- include('../partials/navbar.ejs') %>
            <main>
                <div class="container">

                    <div class="sidebar sidebar-edit">
                        <img src="<%= resource.img %> " alt="">
                    </div>

                    <div class="form-container">
                        <a href="/resource/<%= resource.id %> "><button class='back-btn'>Back</button></a>
                        <h1>EDITING <span>
                                <%= resource.name.toUpperCase() %>
                            </span>
                        </h1>

                        <form method="POST" action="/resource/<%= resource.id %>?_method=PUT">

                            <fieldset>

                                <legend>Resource Information</legend>

                                <label for="subject">SUBJECT</label>
                                <select name="subject" id="subject">
                                    <% for(let subject of subjects){ %>
                                        <option value="<%= subject %> " <%=resource.subject===subject ? 'selected' : ''
                                            %> >
                                            <%= subject %>
                                                <% } %>
                                </select>

                                <label for="name">NAME</label>
                                <input class="text-input" id="name" name="name" type="text"
                                    value="<%= resource.name %>" />

                                <label for="url">URL</label>
                                <input class="text-input" id="url" name="url" type="text" value="<%= resource.url %>">


                                <label for="biography">DESCRIPTION</label>

                                <textarea id="description" name="description"><%= resource.description %></textarea>
                                <label for="img">IMAGE LINK</label>
                                <input class="text-input" id="img" name="img" type="text" value="<%= resource.img %>">
                            </fieldset>


                            <input type="submit" value="SUBMIT CHANGES">
                        </form>
                    </div>
                </div>
            </main>
            <%- include('../partials/footer.ejs') %>
    </body>

    </html>