<%- include('../partials/header.ejs') %>
    <link rel="stylesheet" href="CSS/index-style.css">
    <title>Sandbox</title>
    </head>

    <body>
        <%- include('../partials/navbar.ejs') %>

            <header>
                <h1><span> </span><span class="red"> S</span><span class="orange">a</span><span
                        class="yellow">n</span><span class="green">d</span><span class="blue">b</span><span
                        class="dark-blue">o</span><span class="purple">x</span>'s Collection</h1>

            </header>
            <main>
                <%- include('../partials/flash.ejs') %>
                    <ul class='re-ul'>
                        <% for(let i=0; i < resource.length; i++){ %>
                            <li class="re-li">
                                <div class="card">

                                    <h5 class="card-title  <%=resource[i].subject %> ">
                                        <%= resource[i].subject %>
                                    </h5>
                                    <p class="card-text">
                                        <%= resource[i].name %>
                                    </p>
                                    <a href="/resource/<%=resource[i].id%>" class="learn-more"><button>Learn
                                            more</button></a>

                                </div>
                            </li>


                            <% } %>
                    </ul>

            </main>

            <%- include('../partials/footer.ejs') %>